.searchpage{
  display: flex;
  flex-direction: column;  
}
.searchpage .searchpage_header{
  display: flex;  
  flex-direction: column;  
  border-bottom: 1px solid lightgray;
  position: sticky;
  margin-top: 1.5rem;  
}
.searchpage .searchpage_header .searchpage_inputbar{
  display: flex;
  align-items: center;
  margin-left: 4rem;
  margin-bottom: 1rem;
}
.searchpage .searchpage_header .searchpage_inputbar img{
  height: 2rem;
  width: auto;
  margin-right: 2rem;
  
}
.searchpage .searchpage_header .searchpage_optionsbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 52%;
  margin-left: 4.5rem;
  margin-bottom: .6rem;
}
.searchpage_options_left {
  display: flex;
  justify-content: space-around;
}

.searchpage_option{
  display: flex;
  align-items: center;  
  margin-right: 1rem;
}
/* .searchpage_option:hover{
  border-bottom: 2.5px solid blue;
  transition: all .2s ease-in-out;
} */
.searchpage_option .option_name{
  margin-left: .2rem;
  color: grey;
}
.searchpage_option .option_name:hover{
  color: black;
 
}
.searchpage_option .option_icon{
  color: grey;
}
.searchpage_name_tools{
  color: grey
  
}
